/* ------------- BLOG --------------- */

.blog {
    text-align: center;
    margin: 20px;
}

.blog-posts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.blog-post {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.blog-post img {
    max-width: 100%;
    border-radius: 10px;
}

.blog-post h3 {
    font-size: 24px;
    margin: 10px 0;
}

.blog-post p {
    font-size: 16px;
    color: #666;
    margin: 20px 0;
}

.blog-post a {
    text-decoration: none;
    background-color: #c5009e;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.blog-post a:hover {
    background-color: #333;
}