/* -------------------------------------- CARTA  ------------------------------------------*/

.wrap {
    max-width: 1700px;
    margin: auto;
}

.column-2.carta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

.plato-carta {
    display: flex;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 6px;
    margin: 0 30px;
}

.wrap-title-section {
    padding: 20px;
    color: #000000;
}

.img-plato-carta img {
    max-width: 150px;
    max-height: 150px;
}

.title-plato-carta {
    border: 1px solid #000000;
    border-bottom: none;
    border-top: none;
    flex-basis: 60%;
    padding: 0 1rem;
    color: #000000;
}

.precio-plato-carta {
    display: flex;
    flex-basis: 25%;
    justify-content: center;
    font-weight: bold;
    color: #000000;
}

/* -------------------------------- RESPONSIVE ----------------------------------- */

@media (min-width: 880px) {
    .header-wrap {
        padding: 0.5rem 5rem;
    }
}

@media (min-width: 768px) {
    a {
        color: #fff;
    }
}

@media (max-width: 768px) {
    header.main-header {
        margin-bottom: 4rem;
    }

    .header-wrap {
        position: fixed;
        width: 100%;
        background-color: #fff;
        padding: 0;
        top: 0;
        z-index: 9999;
        height: 60px;
    }

    .wrap-logo-header {
        position: fixed;
        z-index: 999;
        top: 3%;
        left: 3%;
    }

    .logo-header,
    li.menu-item a {
        color: #222;
    }

    i.toggle-menu {
        display: block;
    }

    ul.main-menu,
    #nav-main-contact {
        display: none;
        left: 0;
        margin: 0;
        padding: 0;
    }

    ul.main-menu {
        position: fixed;
        background-color: #fff;
    }

    label.checkbtn {
        position: fixed;
        right: 3%;
        top: 3%;
        z-index: 9999;
        cursor: pointer;
    }

    #check:checked~ul {
        display: flex;
        z-index: 9;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        top: 0;
        font-size: 2rem;
    }

    .wrap-hero-home-page {
        width: 100%;
        padding: 1rem;
    }

    .column-2.carta {
        grid-template-columns: repeat(1, 1fr);
    }
}