/* Estilos para el header */
:root {
    --main-c: #c5009e;
    --black-c: #000;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}

a {
    text-decoration: none;
}

.main-header {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #000;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    z-index: 999;
}

.wrap-logo-header {
    display: flex;
    align-items: center;
    flex-basis: 15%;
}

.logo-header {
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
}

.nav-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.wrap-nav-header {
    display: flex;
    flex-basis: 50%;
}

ul.main-menu {
    display: flex;
    width: 100%;
    z-index: 99;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
}

ul.main-menu #nav-main-contact {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--main-c);
    color: #fff;
}

li.menu-item {
    margin: 0.75rem;
    display: flex;
}

li.menu-item a {
    padding: 0.5rem 1rem;
    color: #fff;
}

li.menu-item a:hover {
    color: var(--main-c);
}

i.toggle-menu img {
    width: 27px;
    z-index: 9999;
}

i.toggle-menu {
    display: none;
    background-color: #fff;
    border: none;
    z-index: 9999;
}

input#check {
    display: none;
}

/* CONTACTO */
.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  
  #contacto-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px; /* Aumenté el ancho del formulario */
    margin: 0 auto; /* Centrar el formulario */
    padding: 20px; /* Añadí un poco de espaciado alrededor del formulario */
    border: 1px solid #ccc; /* Agregué un borde al formulario */
    border-radius: 5px; /* Redondeé los bordes del formulario */
  }
  
  #contacto-form input,
  #contacto-form textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
  }
  
  #contacto-form input[type="submit"] {
    color: #fff;
    background: var(--main-c); /* Usé la variable de color definida en :root */
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
  }

  /* Agregué estilos para la imagen al lado del formulario */
  #contacto-form img {
    max-width: 100%;
    margin-top: 10px; /* Espaciado superior */
  }
