/*-------------------- HEADER ---------------------------------- */

/** ---------------------- Estilos para HEADER ------------------------- **/
:root {
  --main-c: #c5009e;
  --black-c: #000;
}

html {
  font-family: "Josefin Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* -----------------------------  HEADER RESTO ---------------------------------- */

header.main-header {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #000;
  z-index: 999;
}

.wrap-logo-header {
  display: flex;
  align-items: center;
  flex-basis: 15%;
}

.logo-header {
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
}

/* ----------------------------------------- HEADER ------------------------------------------------------ */

.nav-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-wrap-header {
  display: flex;
  flex-basis: 50%;
}

ul.main-menu {
  display: flex;
  width: 100%;
  z-index: 99;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

ul.main-menu #nav-main-contact {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--main-c);
  color: #ffffff;
}

li.menu-item {
  margin: 0.75rem;
  display: flex;
}

li.menu-item a {
  padding: 0.5rem 1rem;
  color: #fff;
}

li.menu-item a:hover {
  color: var(--main-c);
}

i.toggle-menu img {
  width: 27px;
  z-index: 9999;
}

i.toggle-menu {
  display: none;
  background-color: #fff;
  border: none;
  z-index: 9999;
}

input#check {
  display: none;
}

/* -------------------------------- RESPONSIVE ----------------------------------- */

@media (min-width: 880px) {
  .header-wrap {
      padding: 0.5rem 5rem;
  }
}

@media (min-width: 768px) {
  a {
      color: #fff;
  }
}

@media (max-width: 768px) {
  header.main-header {
      margin-bottom: 4rem;
  }
  .header-wrap {
      position: fixed;
      width: 100%;
      background-color: #fff;
      padding: 0;
      top: 0;
      z-index: 9999;
      height: 60px;
  }

  .wrap-logo-header {
      position: fixed;
      z-index: 999;
      top: 3%;
      left: 3%;
  }
  .logo-header,
  li.menu-item a {
      color: #222;
  }

  i.toggle-menu {
      display: block;
  }
  ul.main-menu,
  #nav-main-contact {
      display: none;
      left: 0;
      margin: 0;
      padding: 0;
  }
  ul.main-menu {
      position: fixed;
      background-color: #fff;
  }
  label.checkbtn {
      position: fixed;
      right: 3%;
      top: 3%;
      z-index: 9999;
      cursor: pointer;
  }
  #check:checked ~ ul {
      display: flex;
      z-index: 9;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      top: 0;
      font-size: 2rem;
  }
}

/* -------------------------------------- HERO SECTION ------------------------------------------*/

.wrap-header-hero {
  background: linear-gradient(to bottom, rgb(0 0 0 / 0.75), rgb(0 0 0 / 0.5)),
      url(img/hero-front-page-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-home-page {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap-hero-home-page {
  color: #fff;
  text-align: center;
  width: 50%;
}

.wrap-hero-home-page p {
  margin-bottom: 2rem;
}

/* -------------------------------- RESPONSIVE ----------------------------------- */

@media (max-width: 768px) {
  .wrap-hero-home-page {
      width: 100%;
      padding: 1rem;
  }
}

@media (max-width: 680px) {
  .column-2.carta {
      grid-template-columns: repeat(1, 1fr);
  }
}

/* Estilos para la sección Nosotros */
.nosotros {
    background:url("images/fondocarta3.jpg") center/cover no-repeat;
    padding: 50px;
    color: #ffffff; /* Cambia el color de la fuente a blanco */
}

.title-nosotros {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    color: #ffffff; /* Cambia el color de la fuente a blanco */
    margin-top: 1px;
}

.card-nosotros {
    background-color: transparent; /* Hace que el fondo sea transparente */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-nosotros h3 {
    margin-bottom: 20px;
    color: #ffffff; /* Cambia el color de la fuente a blanco */
}

.card-nosotros img{
    padding: 50px;
    height: 500px;
    width: 700px;
}

.card-nosotros p {
    font-size: 16px;
    color: #ffffff; /* Cambia el color de la fuente a blanco */
}

.team-members {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.team-member {
    text-align: center;
    margin: 10px;
}

.team-member img {
    max-width: 150px;
    border-radius: 50%;
    border: 2px solid #0e0e0e;
}

.team-member p {
    margin-top: 10px;
    font-size: 16px;
    color: #ffffff;/* Cambia el color de la fuente a blanco */
}
