/* Estilos para la sección Nosotros */
.nosotros {
  padding: 5px;
  color: #ffffff;
}

.title-nosotros {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
  color: #000000;
  margin-top: 1px;
}

.card-nosotros {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 3px;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 1px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-nosotros img {
  height: 500px;
  width: 700px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card-nosotros p {
  font-size: 20px;
  color: #000000;
  text-align: center;
}

.team-members {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.team-member {
  text-align: center;
  margin: 10px;
}

.team-member img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #0e0e0e;
}

.team-member p {
  margin-top: 10px;
  font-size: 16px;
  color: #000000;
}