@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Estilos para la sección del banner */
.banner {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/fondo.jpeg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: azure;
  padding-bottom: 150px;
}

.titulo {
  margin: 1vh;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

/* Estilos para el contenedor de tarjetas */
.card-contenedor {
  display: grid;
  grid-template-columns: 420px 450px;
}

/* Estilos para la imagen de la tarjeta */
.card-image {
  background: url("images/tragos.jpg") center/cover no-repeat;
}

/* Estilos para el contenido de la tarjeta */
.card-contenido {
  background: #fff;
  height: 350px;
}

/* Estilos para el formulario */
.form-row {
  display: flex;
  width: 95%;
  margin: 0 auto;
}

form select,
form input {
  display: block;
  width: 100%;
  margin: 15px 12px;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  border-bottom: 1px solid #eee;
  font-weight: 300;
}

form input[type="text"],
form input[type="number"],
form input[type="date"],
form input[type="time"],
form input::placeholder,
select {
  color: #a38e8e;
}

form input[type="submit"]:hover {
  opacity: 0.8;
}

form input[type="submit"] {
  color: #fff;
  background: rgb(209, 7, 175);
  padding: 12px 0;
  border-radius: 4px;
  cursor: pointer;
}

/* Variables de colores */
:root {
  --main-c: #c5009e;
  --black-c: #000;
}

/* Estilos generales */
html {
  font-family: "Josefin Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

/* Estilos para el llamado a la acción principal */
.cta-main {
  background-color: var(--main-c);
  padding: 1rem;
  color: #ffffff;
  font-weight: bold;
  border-radius: 2px;
}

/* Estilos para el encabezado principal */
header.main-header {
  position: relative;
  top: 0;
  width: 100%;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #000;
}

.wrap-logo-header {
  display: flex;
  align-items: center;
  flex-basis: 15%;
}

.logo-header {
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
}

/* Estilos para la navegación del encabezado */
.nav-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-wrap-header {
  display: flex;
  flex-basis: 50%;
}

ul.main-menu {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

ul.main-menu #nav-main-contact {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--main-c);
  color: #ffffff;
}

li.menu-item {
  margin: 0.75rem;
  display: flex;
}

li.menu-item a {
  padding: 0.5rem 1rem;
  color: #fff;
}

li.menu-item a:hover {
  color: var(--main-c);
}

i.toggle-menu img {
  width: 27px;
}

i.toggle-menu {
  display: none;
  background-color: #fff;
  border: none;
}

input#check {
  display: none;
}

/* Estilos responsivos */

@media (min-width: 880px) {
  .header-wrap {
    padding: 0.5rem 5rem;
  }
}

@media (min-width: 768px) {
  a.logo-header {
    color: #fff;
  }
}

@media (max-width: 768px) {
  header.main-header {
    margin-bottom: 4rem;
  }
  .header-wrap {
    position: fixed;
    width: 100%;
    background-color: #fff;
    padding: 0;
    top: 0;
    height: 60px;
  }
}
